{{> header }}
{{> navbar }}

<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h1>Gatitos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda at consectetur consequatur
                corporis,
                culpa dignissimos enim facere nesciunt nobis odit omnis perspiciatis placeat quae quia repellat tenetur
                ut
                vero?</p>
        </div>
        <div class="col-6">
            <img src="assets/img/cats.jpg" alt=""
                 class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}